#container {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: aliceblue;
}

.ball {
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: red;
  border-radius: 13px 13px 13px 13px;
}